.new-cards-notifier {
  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 20%;
    background: black;
    z-index: 500;
    opacity: 0.5;
  }

  .content {
    padding: 2rem;
    border-radius: 10px;
    background: white;
    position: absolute;
    top: 5rem;
    left: 5rem;
    right: 20%;
    bottom: 5rem;
    z-index: 1000;

    .cards-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      overflow-y: auto;
    }
  }
}
