<div class="equip-cards-step">
  <h1>Préparation au combat</h1>
  <h3 *ngIf="player.getEquipableCards().length > 0">Il est temps de se préparer au combat. Choisissez des cartes à équiper</h3>
  <h3 *ngIf="player.getEquipableCards().length === 0">Vous n'avez aucune carte à équiper. Bon courage ᕕ༼ຈل͜ຈ༽ ᕗ</h3>
  <div class="cards-list">
    <div *ngFor="let card of player.getEquipableCards()">
      <app-card [card]="card"></app-card>
      <button class="button" (click)="equipCard(card)">Équiper</button>
    </div>
  </div>
  <button class="button" (click)="ready()">
    Je suis prêt.
  </button>
</div>
