.map {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10rem;
  row-gap: 10rem;

  .map-tile {
    width: 10rem;
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    color: white;
    margin: 2rem;
    cursor: pointer;

    .tile-title {
      display: flex;
    }
  }
}
