.turn {
  height: 100vh;
  display: grid;
  grid-template-columns: 10em 1fr;
  grid-template-rows: min-content 1fr min-content;

  .header {
    grid-column: 1  / span 2;
    grid-row: 1;
    border-bottom: 2px solid black;
  }

  .equiped-cards {
    grid-column: 1;
    grid-row: 2;
  }

  .content {
    grid-column: 2;
    grid-row: 2;
  }

  .inventory {
    grid-column: 1  / span 2;
    grid-row: 3;
  }
}
