html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.button {
  padding: 0.5rem;
  background: #E1D5BB;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #E1D5BB;
  &.small {
    padding: 0.1rem;
  }
}

.equipment {
  border-color: orange!important;
  &.effect {
    color: orange!important;
  }
}

.curse {
  border-color: green!important;
  &.effect {
    color: green!important;
  }
}

.curse {
  border-color: green!important;
  &.effect {
    color: green!important;
  }
}

.monsterLevelAlterator {
  border-color: dodgerblue!important;
  &.effect {
    color: dodgerblue!important;
  }
}

.playerPowerAlterator {
  border-color: red!important;
  &.effect {
    color: red!important;
  }
}

.playerLevelAlterator {
  border-color: lightseagreen!important;
  &.effect {
    color: lightseagreen!important;
  }
}

.race {
  border-color: saddlebrown!important;
  &.effect {
    color: saddlebrown!important;
  }
}

.class {
  border-color: grey!important;
  &.effect {
    color: grey!important;
  }
}


.stand-out-log {
  color: lightseagreen;
}
